In [29]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

In [5]:
table1 = spark.read.parquet("s3://hardoopmapreduce/project/table1")
table1.createOrReplaceTempView("table1")
table2 = spark.read.parquet("s3://hardoopmapreduce/project/table2")
table2.createOrReplaceTempView("table2")
table3 = spark.read.parquet("s3://hardoopmapreduce/project/table3")
table3.createOrReplaceTempView("table3")

In [9]:
data = sqlContext.sql("SELECT a.name,b.* FROM table1 as a join table3 as b on a.id = b.id")

In [10]:
df = data.toPandas()

In [13]:
y = df['id']

In [16]:
y[y == 5391959] = 0
y[y == 5809844] = 1

/usr/local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
x = df[['weather_id', 'deg', 'speed']]

In [25]:
x

    weather_id  deg  speed
0          800  150    4.6
1          500  280    3.1
2          803  260    3.1
3          803  260    3.1
4          803  260    3.1
5          802  150    6.2
6          803  260    3.1
7          800  150    4.6
8          701   80    3.1
9          500   90    2.6
10         500   90    2.6
11         500   90    2.6
12         500   80    3.1
13         500   90    2.6
14         501   70    2.6
15         500   90    2.6
16         500   90    2.6

In [30]:
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [31]:
k = svm.SVC(kernel = 'rbf')

In [32]:
k.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [33]:
k.score(X_test, y_test)

0.80000000000000004